@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--sds-color-background-default-default:#1E1E1E;
--sds-color-border-default-default:#D9D9D9;
--sds-color-text-default-secondary:#ffffff70;
--sds-color-text-brand-on-brand:#F5F5F5;
--sds-color-text-neutral-on-neutral:#F3F3F3;
--accent2:#B1EBE0;
--accent1:#1A766D;
--Inter:"Inter", sans-serif;
--Altone:"Altone", sans-serif;
--Poppins: "Poppins", sans-serif;
--AristaPro: "Arista Pro", sans-serif;

}
body{
  background-color: #2C2C2C;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  text-decoration: none;
  color: #fff;
}
.container{
  padding: 0 40px;
  max-width: 100%;
}
figure{
  margin-bottom: 0;
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}
.header .menuwrap{
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
}
.header .menuwrap a.logo{
  height: 50px;
  width: fit-content;
  display: block;
}
.header .menuwrap a.logo img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.header .menuwrap .menubtn img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header .menuwrap .menubtn{
  height: 56px;
  background-color: transparent;
  box-shadow: transparent;
  border: none;
}

.header {
  padding: 20px 0;
}

.menuwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubtn {
  background: none;
  border: 0;
  cursor: pointer;
}

/* Popup */
.menu-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #111;
  z-index: 9999;

  transform: translateY(-100%);
  transition: 0.6s ease;
}

.menu-popup.active {
  transform: translateY(0);
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: 0;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.menu-popup ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-popup .popbody .menu1 ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-popup .popbody{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}
.menu-popup .popbody .menu1 ul li {
  width: 100%;
}
.menu-popup .popbody .menu1 ul li a.active ,
.menu-popup .popbody .menu1 ul li:hover a {
  color: var(--accent2, #B1EBE0);
text-shadow: 0 4px 20px rgba(255, 255, 255, 0.32);
}
.menu-popup .popbody .menu1.text-end ul li a {
  text-align: left;
}
.menu-popup .popbody .menu1.text-start ul li a {
  text-align: right;
}
.menu-popup .popbody .menu1 ul li a {
color: var(--accent1, #1A766D);
font-family:var(--AristaPro);
font-size: 4rem;
font-style: normal;
font-weight: 300;
line-height: 80%; /* 51.2px */
letter-spacing: -1.28px;
text-transform: uppercase;
  transition: 0.3s;
}

.menu-popup ul li a:hover {
  opacity: 0.7;
}


.footer{
  padding-top: 80px;
  background-color: var(--sds-color-background-default-default)
}
.footer hr{
background: var(--sds-color-border-default-default);
margin: 0;
}
p.copyright{
  text-align: center;
  color: var(--accent2, #B1EBE0);
font-family: var(--Poppins);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
text-transform: capitalize;
opacity: 0.5;
margin-bottom: 61px;
margin-top: 21px;
}
.footerlogo{
  width: 100%;
  padding: 0 13px;
}
.footerlogo img{
  width: 100%;
}
.footerconainer{
  max-width: 910px;
  margin: auto;
}
.footerconainer h2{
  color: var(--accent2, #B1EBE0);
text-align: center;
font-family: var(--AristaPro);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 40px */
max-width: 670px;
margin: auto;
margin-bottom: 52px;
}
.footermenu{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 70px;
}
.footermenu li:hover a{
    color: #B1EBE0;
}
.footermenu li a{
  color: var(--sds-color-text-default-secondary);
font-family: var(--Inter);
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */
text-transform: uppercase;
transition: all .3s linear;
}
.policy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 172px;
}
.policy ul{
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.policy ul li:hover a{
    color: #B1EBE0;
}
.policy ul li a{
  color: var(--sds-color-text-default-secondary);
font-family: var(--Inter);
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
text-transform: capitalize;
transition: all .3s linear;
}


.homebanner figure{
  height: 100%;
  width: 100%;
}
.homebanner{
  position: relative;
}
.homebanner figure img{
  height: 100%;
  width: 100%;

}
.bannercontent .container .bannerbody{
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.bannercontent .container{
  height: 100%;
}
.bannercontent{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.bannerbody h1{
  color: var(--sds-color-text-brand-on-brand);
font-family: var(--AristaPro);
font-size: 12.5rem;
font-style: normal;
font-weight: 300;
line-height: 70%; /* 140px */
letter-spacing: -4px;
}
.btn1{
  padding: 16px 24px;
  border-radius: 4px;
background: #B1EBE0;
color: var(--accent1, #1A766D);
font-family: var(--Altone);
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
display: block;
text-align: center;
width: 100%;
}
.btn1:hover{
  color: var(--accent1, #1A766D);
}
.btn2{
  display: block;
  padding: 16px 24px;
  border-radius: 4px;
border: 1px solid var(--sds-color-border-default-default);
color: var(--sds-color-text-neutral-on-neutral);
font-family: var(--Altone);
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
width: 100%;
}
.btncontainer{
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.btncontainer .btn1{
  margin-top: 90px;
}

/* ************************************************************************ */
.smooth-slider{
  display:grid;
  grid-template-columns:100px 40% 1fr;
  gap:20px;
  align-items:center;
  min-height:100vh;
  padding:54px 40px;
  /* background:#111; */
  width: 100%;
}

/* LEFT SIDE */
.left-thumbs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    justify-content: flex-end;
}

.left-thumb{
  width:100%;
  height:100px;
  border-radius:10px;
  overflow:hidden;
  cursor:pointer;
  opacity:.6;
  transition:.4s;
}

.left-thumb:hover{
  opacity:1;
  transform:translateX(8px);
}

.left-thumb img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* CENTER */
.slider-left{
  height:776px;
  border-radius:20px;
  overflow:hidden;
}

.slider-left img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* RIGHT */
.slider-right{
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left:10px ;
}

.nav-btns{
  display:flex;
  gap:10px;
  margin-bottom:30px;
  justify-content: end;
}

.nav-btns button:hover{
  background-color: #B1EBE0;
}
.nav-btns button{
  width:48px;
  height:64px;
  border:none;
  cursor:pointer;
  border-radius: 100px;
border: 0.5px solid var(--accent1, #1A766D);
background-color: transparent;
transition: all .3s linear;
}
.content-box{
  margin-top: 200px;
}

.content-box h2{
color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 4rem;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 64px */
text-transform: capitalize;
  margin-bottom:24px;
}

.content-box p{
color: var(--sds-color-text-default-secondary);
font-family: var(--Altone);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
text-transform: capitalize;
  margin-bottom:20px;
}

.tags{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  margin-bottom: 24px;
}

.tags span{
border-radius: 100px;
background: rgba(177, 235, 224, 0.25);
color: var(--sds-color-text-default-secondary);
font-family: Inter;
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 16.8px */
text-transform: capitalize;
padding: 8px 12px;
}

.thumb-row{
  display:flex;
  gap:10px;
  margin-top:40px;
}

.thumb{
  width:100px;
  height:100px;
  border-radius:8px;
  overflow:hidden;
  cursor:pointer;
  opacity:.5;
  transition:.4s;
}

.thumb.active,
.thumb:hover{
  opacity:1;
  transform:translateY(-5px);
}

.thumb img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.homeabout{
  padding: 72px 0;
}
.homeabout h3{
  text-align: center;
  color: #757575;
font-family: var(--Altone);
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 44px */
margin-top: 121px;
}
.homeabout h2{
  color: var(--accent1);
font-family: var(--Altone);
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 44px */
max-width: 851px;
}
.soulcards{
  max-width: 1232px;
  margin: auto;
  margin-right: 0;
  margin-top: 74px;
}

.card1.soul{
}
.card1 .conten1{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 16px;
  left: 0;
}
.card1 figure img{
  height: 100%;
  width: 100%;
}
.card1 figure{
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
.card1{
  /* background-color: #444444; */
  position: relative;
}
.card1 svg{
  margin-bottom: 40px;
}
.card1 h2{
  color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 4rem;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 64px */
margin-bottom: 16px;
}
.card1 p{
overflow: hidden;
color: var(--sds-color-text-default-secondary);
text-overflow: ellipsis;
font-family: var(--Inter);
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 16px */
}

.homecontact{
  padding: 83px 0;
}
.homecontact .container{
  max-width: 720px;
}
.homecontact h2{
  color: var(--accent2, #B1EBE0);
text-align: center;
font-family: var(--AristaPro);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 40px */
text-transform: capitalize;
}
.mail{
  margin-top: 61px;
}
.mail a{
  display: block;
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 28.8px */
text-transform: lowercase;
margin-bottom: 16px;
}
.social p{
  color: var(--accent2, #B1EBE0);
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
text-transform: capitalize;
}
.social{
  max-width: 216px;
  margin: auto;
  margin-right: 0;
}
.social ul{
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social ul li{}
.social ul li a svg path{
  stroke: #B1EBE0;
}
.social ul li a{
  /* display: block; */
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactform form{
  border-radius: 8px;
background: var(--sds-color-background-default-default);
padding: 40px;
}
.contactform h2{
  color: var(--accent2, #B1EBE0);
text-align: center;
font-family: var(--AristaPro);
font-size: 32px;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 32px */
text-transform: capitalize;
text-align: left;
margin-bottom: 18px;
}
.contactform .contt textarea:focus,
.contactform .contt textarea:focus-visible,
.contactform .contt input:focus,
.contactform .contt input:focus-visible{
  border: 1px solid #444444;
  color:#ffffff7e;
  box-shadow: none;
  outline: none;
}

.contactform .contt textarea,
.contactform .contt input,
.contactform .contt select{
  padding: 10px 16px;
  width: 100%;
  color: #ffffff7e;
font-family: var(--Poppins);
font-size: 1rem;
font-style: normal;
font-weight: 400;
border: 1px solid #444444;
line-height: 140%; /* 22.4px */
background-color: transparent;
text-transform: capitalize;
border-radius: 4px;
}
.contactform .contt select{
  color: #ffffff7e;
}
.contactform .row{
  gap: 30px 0;
}

.contt.select {
  position: relative;
}

.contt.select select {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: none !important;
  padding-right: 45px;
  cursor: pointer;
}
.contt.select select::-ms-expand {
  display: none;
}
.contt.select .select-arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
@media (max-width:1400px) {
  .smooth-slider {
    grid-template-columns: 100px 49% 1fr;
  }
  .slider-left {
    height: 700px;
  }
}
@media (max-width:1230px) {
  .soulcards{
    max-width: 1030px;
  }
      .smooth-slider {
        grid-template-columns: 100px 40% 0fr;
    }
    .bannerbody h1{
      font-size: 10rem;
    }
}


/* ********************************************************************* */
.custom-gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 120px;
  gap: 6px;
}

.custom-gallery .item {
  overflow: hidden;
  position: relative;
}
.custom-gallery .item .read a svg{}
.custom-gallery .item .read a{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 4px;
border: 1px solid var(--accent2, #B1EBE0);
background: rgba(0, 0, 0, 0.25);
backdrop-filter: blur(5px);
padding: 16px 24px;
}
.custom-gallery .item:hover .read{
  opacity: 1;
}
.custom-gallery .item .read{
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all .3s linear;
}
.portitem{
  position: relative;
  display: block;
  /* height: 80vh; */
}
.portitem figure{
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
.portitem figure img{
  height: 100%;
  width: 100%;
}
.portitem .portconten .conty{

  max-width: 600px;
}
.portitem .portconten{
  position: absolute;
  inset: 0;
  width: 100%;
  height: fit-content;
  padding: 28px;
  display: flex;
  justify-content: space-between;
      align-items: flex-end;
}
.portitem .portconten h1{
  color: #FFFFFF;
font-family: var(--AristaPro);
font-size: 4rem;
font-style: normal;
font-weight: 300;
line-height: 80%; /* 51.2px */
text-transform: capitalize;
}
.portitem .portconten p{
  color: #fff;
font-family: Altone;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
text-transform: capitalize;
}
.portitem{
  margin-bottom: 30px;
}
.atext{
  height: 100%;
  display: flex;
  text-align: end;
}
 .portconten .tags span{
color: #fff !important;
background-color: #1E1E1E;
}

.custom-gallery .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.custom-gallery .item:hover img {
  transform: scale(1.08);
}


/* Auto layout by nth-child */
.custom-gallery .item:nth-child(9n+1) {
  grid-column: span 3;
  grid-row: span 2;
}

.custom-gallery .item:nth-child(2) {
  margin-top: 130px;
}
.custom-gallery .item:nth-child(3) {
  margin-top: 80px;
}
.custom-gallery .item:nth-child(9n+2) {
  grid-column: span 6;
  grid-row: span 4;
}

.custom-gallery .item:nth-child(9n+3) {
  grid-column: span 3;
  grid-row: span 4;
}

.custom-gallery .item:nth-child(9n+4) {
  grid-column: span 3;
  grid-row: span 3;
}

.custom-gallery .item:nth-child(9n+5) {
  grid-column: span 6;
  grid-row: span 4;
}

.custom-gallery .item:nth-child(9n+6) {
  grid-column: span 3;
  grid-row: span 2;
}

.custom-gallery .item:nth-child(9n+7) {
  grid-column: span 3;
  grid-row: span 4;
}

.custom-gallery .item:nth-child(9n+8) {
  grid-column: span 3;
   grid-row: span 2;
}

.custom-gallery .item:nth-child(9n+9) {
  grid-column: span 3;
   grid-row: span 2;
}

.beadcrumb{}
.beadcrumb h3{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 70%; /* 14px */
letter-spacing: -0.4px;
text-align: center;
margin-bottom: 116px;
}
.beadcrumb h2{
  margin-top: 222px;
  text-align: center;
  color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 12.5rem;
font-style: normal;
font-weight: 300;
line-height: 70%; /* 140px */
letter-spacing: -4px;
margin-bottom: 34px;
}
.btncontainer1{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 11;
}

.btncontainer1  button.active svg path{
  stroke: #1A766D;
}
.btncontainer1  button.active{
  border-radius: 8px;
background: var(--accent2, #B1EBE0);
}
.btncontainer1  button{
  display: flex;
width: 48px;
height: 48px;
justify-content: center;
align-items: center;
background-color: transparent;
box-shadow:1px 1px 1px transparent;
outline: transparent; 
border: none;
}
.btncontainer1 {
  display: flex;
  gap: 8px;
  padding: 8px;
border-radius: 16px;
background: #2C2C2C;
box-shadow: 0 50px 14px 0 rgba(0, 0, 0, 0.00), 0 32px 13px 0 rgba(0, 0, 0, 0.01), 0 18px 11px 0 rgba(0, 0, 0, 0.05), 0 8px 8px 0 rgba(0, 0, 0, 0.09), 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

.breadcrumb{
  flex-direction: column;
  background-image: url(./assets/breadcrumb/1.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 0;
  background-repeat: no-repeat;
  padding: 6px 40px;
}

.breadcrumb h2{
  color: var(--Pure-White, #FEFEFE);
font-family: var(--AristaPro);
font-size: 8rem;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 128px */
text-transform: capitalize;
text-align: center;
margin-top: 168px;
}

.breadcrumb ul li a{
  color: var(--background, #FEFEFE);
font-family: var(--Altone);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
text-transform: capitalize;
}
.breadcrumb ul li{
  color: var(--background, #FEFEFE);
font-family: var(--Altone);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
text-transform: capitalize;
}
.breadcrumb ul li:last-child a{
  color: var(--Mint-Breeze, #B1EBE0);
}
.breadcrumb ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
  padding: 8px 20px;
  border-radius: 100px;
border: 1px solid var(--background, #FEFEFE);
width: fit-content;
margin-top: 60px;
}
.mainimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.mainimg{
  margin-bottom: 0;
  padding: 44px 0;
}
.detailsbody .dettext{
  color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 40px */
text-transform: capitalize;
max-width: 912px;
margin-bottom: 50px;
}
.detailsbody{
  position: relative;
}

.bigtextcontainer{
    /* height: 120px; */
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 500px;
}
.bigtextcontainer h2{
  color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
/* font-size: ; */
font-style: normal;
font-weight: 300;
line-height: 100%; /* 64px */
text-transform: capitalize;
}
.subloader{
    width: 100%;
  height: 600px;
  margin-bottom: 40px;
}
.subloader video{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.thechallange h3{
  color: var(--accent2, #B1EBE0);
  font-family: var(--AristaPro);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 40px */
  text-transform: capitalize;
  margin-bottom: 24px;
}
.thechallange .paradiv{
  max-width: 557px;
  margin: auto;
  margin-right: 0;
}
.thechallange{
  margin-bottom: 64px;
}
.thechallange p{
  color: var(--Pure-White, #FEFEFE);
font-family: var(--Altone);
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 28.8px */
}
.soupimgsgal{
  margin-top: 64px;
}
.soupimgsgal .row{
  gap: 16px 0;
}
.soupimgsgal figure{
  margin-bottom: 0;
  height: 100%;
}
.soupimgsgal figure img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.maultiimg{
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  height: 100%;
}
.scrilvideo .videocontainer{
  position: relative;
}
.scrilvideo .videocontainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scrilvideo .videocontainer .play{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.scrilvideo{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.videocontainer{
  position: relative;
  width: 100%;
  height: 100vh;
  transform: scale(0.35);
  transform-origin: center center;
  border-radius: 30px;
  overflow: hidden;
  will-change: transform, border-radius;
}

.videocontainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 16px;
}


/* *********************************************************************************** */
.fashion-slider-section{
  /* background:#1f1f1f; */
  padding:90px 0;
  overflow:hidden;
}

.fashion-slider-section .container{
  max-width:1400px;
  margin:auto;
}

.fashion-card{
  text-align:center;
  transition:.4s;
}

.fashion-card img{
  width:100%;
  height:430px;
  object-fit:cover;
  border-radius:16px;
}

.fashion-card h4{
color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 40px */
margin-top: 21px;
}

.fashion-slider-section .swiper-slide{
  /* opacity:.35; */
  transform:scale(.82);
  transition:.4s;
}

.fashion-slider-section .swiper-slide-active{
  opacity:1;
  transform:scale(1);
}


.fashion-slider-section .swiper-button-prev,
.fashion-slider-section .swiper-button-next{
  width:55px;
  height:55px;
  border-radius:50%;
  background:#bdf8f2;
}

.fashion-slider-section .swiper-button-prev:after,
.fashion-slider-section .swiper-button-next:after{
  font-size:1.3rem;
  color:#111;
  font-weight:700;
}




.swiper-slide .fashion-card .imgover{
    position: relative;
}
.swiper-slide.swiper-slide-next .fashion-card h4,
.swiper-slide.swiper-slide-prev .fashion-card h4{
  display: none;
}
.swiper-slide.swiper-slide-next .fashion-card .imgover img,
.swiper-slide.swiper-slide-prev .fashion-card .imgover img{
  filter: blur(4px);
}
.swiper-slide.swiper-slide-prev .fashion-card .imgover::after{
    position: absolute;
    inset: 0;
    height: 100%;
    content: "";
    width: 100%;
    z-index: 11;
    display: block;
    background: linear-gradient(90deg, #2C2C2C 40.33%, rgba(102, 102, 102, 0.00) 96.33%);
    /* filter: blur(4px); */
}


.swiper-slide.swiper-slide-active {
  scale: 1.3;
  z-index: 11;
  position: relative;
} 
.swiper-slide.swiper-slide-next .fashion-card .imgover::after{
    position: absolute;
    inset: 0;
    height: 100%;
    content: "";
    width: 100%;
    z-index: 11;
    display: block;
     background: linear-gradient(268deg, #2C2C2C 40.33%, rgba(102, 102, 102, 0.00) 96.33%);
    /* filter: blur(4px); */
}
.supslider{
  /* overflow-y: visible !important; */
  padding: 40px 0;
    overflow: unset !important;

}

.fashion-slider-section{
  margin-bottom: 90px;
  position: relative;
}

.slidebtn{
  position: absolute;
  top: 50%;
  left: 0;
    transform: translate(16%, -50%);
    z-index: 3;
    width: 76%;
  display: flex;
  justify-content: space-between;
}
.slidebtn > div:hover{
      cursor: pointer;
}
.blog-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 52px 16px;
}

/* Pattern Repeat */
.blog-grid .blog-card:nth-child(13n + 1) {
  grid-column: span 8;
}

.blog-grid .blog-card:nth-child(13n + 2) {
  grid-column: span 4;
}

.blog-grid .blog-card:nth-child(13n + 3),
.blog-grid .blog-card:nth-child(13n + 4),
.blog-grid .blog-card:nth-child(13n + 5) {
  grid-column: span 4;
}

.blog-grid .blog-card:nth-child(13n + 6){
  grid-column: span 6; 
}
.blog-grid .blog-card:nth-child(13n + 7),
.blog-grid .blog-card:nth-child(13n + 8) {
  grid-column: span 3;
}

.blog-grid .blog-card:nth-child(13n + 9) ,
.blog-grid .blog-card:nth-child(13n + 10) {
  grid-column: span 6;
}
.blog-grid .blog-card:nth-child(13n + 11) ,
.blog-grid .blog-card:nth-child(13n + 12) {
  grid-column: span 3;
}
.blog-grid .blog-card:nth-child(13n + 13) {
grid-column: span 6;
}
.blog-grid .blog-card {

}
.bloglist{
  padding: 60px 0;
}
.blog-filter{
  display: flex;
  justify-content: center;
 gap: 8px;
 margin-bottom: 100px;
}
button:hover,
a:hover{
  cursor: pointer;
}
.blog-filter a{
 border-radius: 8px;
border: 1px solid var(--accent1, #1A766D);
  color: #1A766D;
  width: fit-content;
}
.blog-card .blog-tag{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 0.6rem;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 10px */
padding: 8px 12px;
border-radius: 100px;
border: 1px solid var(--accent2, #B1EBE0);
display: block;
width: fit-content;
margin-bottom: 16px;
}
 .blog-card .blog-img{
  margin-bottom: 16px;
  /* width: 100%;
  height: 100%; */
  height: 300px;
}
.blog-card .blog-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
 .blog-card .blog-date{
  color: #fff;
font-family: var(--Altone);
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 14.4px */
opacity: 0.7;
}
 .blog-card h3{
  overflow: hidden;
color: var(--accent2, #B1EBE0);
text-overflow: ellipsis;
font-family: var(--Altone);
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 28.8px */
margin: 16px 0;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
align-self: stretch;
}
.blog-card p{
  overflow: hidden;
color: #FFFFFF;
text-overflow: ellipsis;
font-family: var(--Altone);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 17.6px */
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
align-self: stretch;
margin-bottom: 24px;
}
 .blog-card a{
  border-color: #1A766D;
  color: #1A766D;
  width: fit-content;
}
.blogdetails{
  padding: 70px 0;
}
.bloadhead{
    border-right: 1px solid #444444;
    padding-right:20px ;
}
.bloadhead ul{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 8px;
  margin-bottom: 18px;
}
.bloadhead ul li{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 0.6rem;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 10px */
padding: 8px 12px;
border-radius: 100px;
border: 1px solid var(--accent2, #B1EBE0);
}
.bloadhead h2{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 2.5rem;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 48px */
margin-bottom: 16px;
}
.bloadhead p{
  overflow: hidden;
color: var(--background, #FEFEFE);
text-overflow: ellipsis;
font-family: var(--Altone);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 17.6px */
}
.hedsmall{
  max-width: 1200px;
  margin: auto;

}
.leftdetaisl{}
.leftdetaisl .sidecon{
  margin-bottom: 30px;
}
.leftdetaisl .sidecon p{
  color: var(--accent1, #1A766D);
  font-family: var(--Altone);
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 10px */
  margin-bottom: 8px;
}
.leftdetaisl .sidecon h4{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 0.8rem;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 14px */
}
.leftdetaisl .sidecon h3{
  color: var(--accent2, #B1EBE0);
  font-family: var(--Altone);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  padding: 8px 12px;
  border-radius: 100px;
  border: 1px solid var(--accent2, #B1EBE0);
  width: fit-content;
}
.leftdetaisl .sidecon button{
  height: 78px;
  width: 56px;
  border-radius: 16px;
border: 1px solid #B1EBE0;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
}

.leftdetaisl .sidecon ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 4px;
}
.leftdetaisl .sidecon ul li{
  display: none;
}
.leftdetaisl .sidecon ul li:first-child{
  display: block;
}
.leftdetaisl .sidecon ul:hover li:first-child{
  display: none;
}
.leftdetaisl .sidecon ul:hover li{
  display: block;
}
.blogdetails figure img{
  width: 100%;
}
.detaicontent{
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
}
.detaicontent p{
  color: var(--background, #FEFEFE);
font-family: var(--Altone);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 19.2px */
}
.detaicontent h2{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 28.8px */
margin-top: 37px;
}
.relatedblog{
  margin-top: 91px;
}
.relatedblog h2{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 2.5rem;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 48px */
margin-bottom: 51px;
}
.contact{
    padding: 54px 0;
}
.contloca{
  padding: 40px;
  border-radius: 16px;
background: #1E1E1E;
}
.contloca > div{
  margin-bottom: 24px;
}
.contloca > div .icon{
  margin-bottom: 16px;
}
.contloca > div h3 a{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 2.25rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 43.2px */
text-transform: lowercase;
}
.timingbox{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px 12px;
}
.timingbox > div .icon{
  margin-bottom: 16px;
}
.timingbox > div h3{
color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 2.25rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 43.2px */
text-transform: lowercase;
}
.social1{
  width: 216px;
  margin-bottom: 0;
  margin-left: 0;
}
.social1 h2{
  color: var(--accent2, #B1EBE0);
font-family: var(--Poppins);
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
text-transform: capitalize;
}
.social1 ul{
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 24px;
}
.social1 ul li a svg path{
transition: all .3 linear;}
.social1 ul li:hover a svg path{
  stroke: #1A766D;
}
.social1 ul li:hover a{
  background-color:#B1EBE0;
}
.social1 ul li a{
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
background-color:#2C2C2C;
transition: all .3 linear;
}

.conpagfor{
  margin-top: 54px;
}
.conpagfor h2{
  color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 48px */
text-transform: uppercase;
max-width: 592px;
}
.map{
  margin-top: 75px;
}
.aboutttext{
  padding: 62px 0;
}

.textscroll P{
  color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 48px */
}

.abtxt p{
  color: var(--accent1, #1A766D);
font-family: var(--Altone);
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 28.8px */
text-transform: capitalize;
}
.abtxt{
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.ctabox{
  position: relative;
}

.ctabox figure img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.ctabox figure{
  opacity: 0;
  position: absolute;
  inset: 0;
  transition: all .3s linear;
}
.ctabox:hover figure{
    opacity: 1;
}
.ctabox h3{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 40px */
}
.ctabox p{
  color: #FFFFFF;
font-family: var(--Altone);
opacity: 0.4;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 19.2px */
text-transform: capitalize;
}
.ctabox{
  background-color: #2C2C2C;
  height: 100%;
  padding: 16px;
  
  display: flex;
  flex-direction: column;
      justify-content: flex-end;
}
.aboutcta figure{
  height: 360px;
}
.aboutcta figure img{
  width: 100%;
  height: 100%;
}
.aboutcta .cta .row{
  gap: 14px 0;
}
.aboutcta .cta{
  background-color: #1E1E1E;
  padding: 74px  115px;
  border-radius:8px ;
}
.aboutag{
  padding: 133px 115px;
}
.thoths{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.aboutag figure{
  height: 100%;
}
.aboutag figure img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.thoths p{
  color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 48px */
}
.thoths h3{
  color: #B3B3B3;
font-family: var(--Altone);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 26.4px */
text-transform: capitalize;
}
.abcard h2{
  color: var(--accent2, #B1EBE0);
text-align: center;
font-family: var(--AristaPro);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 48px */
max-width: 870px;
margin: auto;
margin-bottom: 68px;
}
.abcard {
  padding-bottom: 52px;
}
.abcard .row{
  max-width: 1060px;
  margin: auto;
}
.abcard .card11 p{
  color: #fff;
  opacity: 0.4;
font-family: var(--Altone);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 19.2px */
text-transform: capitalize;
}
.abcard .card11 h3{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 24px */
}
.abcard .card11{
  padding: 16px;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  gap: 247px;
  height: 100%;
  justify-content: space-between;
}
.aboudesigh{
  padding: 60px 0;
}
.aboudesigh .imgcont1{
  background-color: #1E1E1E;
  border-radius: 8px;
  height: 688px;
  position: relative;
  padding-top: 44px;
  
}
.aboudesigh .imgcont1::after{
  content: "";
  position: absolute;
  padding-top: 44px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(./assets/about/cta3.png);
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
.imgcont1 h3{
  color: var(--accent2, #B1EBE0);
text-align: center;
font-family: var(--AristaPro);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 48px */
max-width: 287px;
margin: auto;
}
.snapshot-slider .swiper-slide.swiper-slide-active{
  scale: 1;
}

.snapshot-slider .team-card img{
  width: 100%;
  height: 400px;
}
.snapshot-head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 87px;
}
.snapshot-head h2{
  color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 48px */
}
.snap-btns{
  display: flex;
  gap: 8px;
}
.snap-btns button:hover{
  background-color: #B1EBE0;
}
.snap-btns button{
  width:48px;
  height:64px;
  border:none;
  cursor:pointer;
  border-radius: 100px;
border: 0.5px solid var(--accent1, #1A766D);
background-color: transparent;
transition: all .3s linear;
}
.snapshot-slider .team-card{
  position: relative;
}
.snapshot-slider .team-card .team-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: var(--sds-size-radius-200);
  background: linear-gradient(0deg, rgba(30, 30, 30, 0.80) 23.88%, rgba(102, 102, 102, 0.00) 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  opacity: 0;
  transition: all .3s linear;
}
.snapshot-slider .team-card .team-overlay .team-info h4{
  color: var(--accent2, #B1EBE0);
font-family: var(--Altone);
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 28.8px */
margin-bottom: 8px;
}
.snapshot-slider .team-card .team-overlay .team-info p{
  color: var(--background, #FEFEFE);
  font-family: var(--Altone);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-transform: capitalize;
  margin-bottom: 0;
}
.snapshot-slider{
  margin-bottom: 60px;
}
.snapshot-slider .team-card:hover .team-overlay{
  opacity: 1;
}
.snapshot-slider .team-card .team-overlay .socials{
    display: flex;
    gap: 4px;
}
.snapshot-slider .team-card .team-overlay .socials a{
  display: flex;
width: 40px;
height: 40px;
justify-content: center;
align-items: center;
border-radius: 4px;
background: #2C2C2C;
}
/* ************************************************************* */

.logoreveal {
  position: relative;
  /* background: #002f28; */
}
.logoreveal .logocontainer{
  overflow: hidden;
  height: 100vh;
  position: relative;
}
.centertext {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 5;
}

.centertext h2 {
color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 2rem;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 48px */
}

.brandlogo {
  position: absolute;
  width: 120px;
}

/* random positions */
.logo1 { 
      top: 4%;
    left: 7%;

 }
.logo2 { 
      top: 16%;
    left: 25%;
 }
.logo3 { top: 16%; left: 46%; }
.logo4 { 
      top: 20%;
    right: 4%;
 }
.logo5 { top: 36%; left: 7%; }
.logo6 { top: 35%; right: 20%; }
.logo7 { bottom: 32%; left: 20%; }
.logo8 { 
      bottom: 14%;
    left: 6%;

}
.logo9 { 
      bottom: 19%;
    left: 43%;
 }
.logo10 { bottom: 20%; right: 8%; }
.logo11 { top: 10%; right: 24%; }
.logo12 { bottom: 12%; right: 30%; }
.logo13 { 
      bottom: 4%;
    left: 25%;
 }
.marketing{
  padding: 70px 0;
}
.marketing h2{
  color: var(--green, #052C27);
text-align: center;

/* golden shadow */
text-shadow: 0 4px 10px rgba(199, 160, 8, 0.25);
font-family: var(--seconadry-font);
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 67.2px */
text-transform: capitalize;
}
/* *********************************************************************************************** */
.missionvision {
  padding: 120px 0;
  background: #232323;
  overflow: hidden;
}

.missionvision h2 {
  text-align: center;
  color: #b1ebe0;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 70px;
}

.mission-wrap {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 100%;
  max-width: 1180px;
  height: 720px;
  background: #171717;
  padding: 60px;
  position: relative;
}

.box {
  position: absolute;
  inset: 0;
  padding: 90px 70px;
  display: flex;
  align-items: center;
  gap: 45px;
  justify-content: center;
}

.vision-box {
  opacity: 0;
}

/* icon */
.iconx {
  width: 307px;
  height: 307px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconx img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* center line */
.line {
  width: 224px;
  flex-shrink: 0;
}

.line svg {
  width: 100%;
  height: 465px;
}

/* text */
.text {
  max-width: 354px;
}

.text h3 {
color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 2.5rem;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 48px */
}

.text p {
color: #B3B3B3;
font-family: var(--Altone);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 19.2px */
text-transform: capitalize;
}

/* ********************************************************************************************** */

.gravitysection {
  /* background: #efefef; */
  position: relative;
}

.gravitysection .gravitycontainer {
  padding: 100px 0;
  position: relative;
  max-width: 100%;
  margin: auto;
  height: 1200px;
}

.topstage {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.movecard h3{
  color: var(--green, #052C27);
font-family: var(--primary-font);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 24px */
text-transform: capitalize;
margin-bottom: 24px;
text-align: left;
}
.movecard {
  width: 280px;
  position: relative;
  z-index: 5;
    border-radius: 16px;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.movecard img,
.extra img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.brandbox1 {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  /* top: 220px; */
  width: 100%;
  height: 884px;
  border-radius: 16px;
  padding: 90px;
}

.brandbox1 h2 {
  color: var(--accent2, #B1EBE0);
  text-align: center;
  font-family: var(--AristaPro);
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 67.2px */
  text-transform: capitalize;
  margin-bottom: 18px;
}
.brandbox1 h4 {
  color: var(--accent2, #B1EBE0);
text-align: center;
font-family: var(--AristaPro);
font-size: 48px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 67.2px */
text-transform: capitalize;
margin-top: 34px;
}
.soultext h2{
color: var(--accent2, #B1EBE0);
text-align: center;
font-family: var(--AristaPro);
font-size: 48px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 67.2px */
text-transform: capitalize;
}
.topstage .card1{
  transform: translate(-100px, -600px);
}
.topstage .card2{
    transform: translate(-100px, -600px);
}
.topstage .card3{
    transform: translate(-100px, -600px);
}

/* ********************************************************************************************* */

.timeline-wrapper {
  width: 100%;
  height: 100vh;
  /* background: #262626; */
  padding: 60px 20px;
  overflow: hidden;
}

/* TOP YEARS */
.timeline-years {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.timeline-years span {
color: #757575;
font-family: var(--Altone);
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 100%; /* 24px */
  transition: 0.4s;
}

.timeline-years span.active {
  color: #1A766D;
}

/* MAIN */
.timeline-main {
  display: flex;
  align-items: flex-start;
}

/* LEFT LINE */
.timeline-line {
  width: 2px;
  height: 500px;
  background: #707070;
  margin-right: 15px;
  position: relative;
}

/* .line-dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background: #00bfff;
  border-radius: 50%;
  transition: 0.4s ease;
} */

/* CONTENT */
.timeline-content {
  width: 442px;
}

.timeline-content h2 {
color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 32px;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 38.4px */
  margin-bottom: 70px;
}

.timeline-content p {
  font-size: 17px;
  line-height: 1.4;
  color: #d1d1d1;
  margin-bottom: 20px;
}

.timeline-box {
  width: 300px;
  height: 170px;
  background: #111;
}

.heading1{
  margin-bottom: 81px;
}
.heading1 h2{
  color: var(--accent2, #B1EBE0);
font-family: var(--AristaPro);
font-size: 40px;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 48px */

}


















/* Responsive */
@media (max-width: 991px) {
  .custom-gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .custom-gallery .item {
    grid-column: span 3 !important;
    grid-row: span 1 !important;
  }

  .custom-gallery .item:nth-child(2),
  .custom-gallery .item:nth-child(5) {
    grid-column: span 6 !important;
  }
}

@media (max-width: 767px) {
  .custom-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 180px;
  }

  .custom-gallery .item {
    grid-column: span 2 !important;
    grid-row: span 1 !important;
  }
}